extends layout

block content
    header.header 
      h1 Country Search
    .container
      .btn.btn-default#country-button Load Countries
      p
      .row 
        .col-sm-6
            input.form-control#search-bar(action = "/search", method = "post", type="text", name="country", placeholder="Search For Country")
        .btn.btn-default#search-button Search
        .col-sm-6
                p
                #country-container
                    #country-list
               
