body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}
ul > li:{
	list-style: none;
}
#country-container{
	display: none;

}
.container{
background-color: #E8E0DA;
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
border: black 1px solid;
}
.header{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}